@model UMS.Models.ViewModels.Users.AllUserDetailsByEgn

@{
    ViewBag.Title = "Детайли за потребител";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Потребител с ЕГН: @Model.Egn има следните достъпи:
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Активна директория</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in" style="height: auto">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Акаунт АД</th>
                                                <th>Име</th>
                                                <th>Фамилия</th>
                                                <th>Хермес ИД</th>
                                                <th>Състояние</th>
                                                <th>Групи</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.AdUser.SamAccount</td>
                                                <td>@Model.AdUser.FirstName</td>
                                                <td>@Model.AdUser.LastName</td>
                                                <td>@Model.AdUser.HermesId</td>
                                                <td>
                                                    @if (!Model.AdUser.IsAcive)
                                                    {
                                                        <div class="alert-danger" align="center">Деактивиран</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert-success" align="center">Активен</div>
                                                    }
                                                </td>
                                                <td>@Html.ActionLink("Покажи групи", "AdGroups","Users", new { id = Model.AdUser.Id}, new { @class = "btn btn-sm btn-info" } )</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.OpusNonUsers.Count() > 0)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">ОПУС Общо/Автомобилно</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" style="height: auto">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Акаунт ОПУС</th>
                                                    <th>Агенция</th>
                                                    <th>Име</th>
                                                    <th>Фамилия</th>
                                                    <th>Дата на създаване</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model.OpusNonUsers)
                                                {
                                                    <tr>
                                                        <td>@user.OpusUserName</td>
                                                        <td>@user.Agency</td>
                                                        <td>@user.FirstName</td>
                                                        <td>@user.LastName</td>
                                                        <td>@user.DateCreated.ToShortDateString()</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="panel-footer">
                <div align="right">
                    @Html.ActionLink("Назад", "Result", "Users", new { egn = Model.Egn.ToString() }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Изход", "Index", "Home", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>




