@model IEnumerable<UMS.Models.ViewModels.Home.AllRequestsForProfilingViewModel>

@{
    ViewBag.Title = "Търсене на потребител";
}

<div><br /></div>
<h1>@ViewData["ErrorMessage"]</h1>
@using (Html.BeginForm("Result", "Users", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Търсене на потребител по ЕГН
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input style="width:200px" type="text" class="form-control" name="egn" placeholder="Въведете ЕГН">
            </div>
            <button type="submit" class="btn btn-primary">Търсене</button>

            <div>
                <p style="color:red">Търсенето се извършва само в потребителите от Активна директория</p>
            </div>
        </div>
    </div>
}
@if (Model.Count() > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Списък на потребители за предоставяне на достъп до системите на АБХ в ЦУ
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Име на служителя</th>
                            <th>Профил на служителя</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var req in Model)
                        {
                            <tr>
                                <td>@req.UserFirstName @req.UserSurName @req.UserFamilyName</td>
                                <td>@req.Napravlenie @(req.Upravlenie == null ? "" : " | " + req.Upravlenie) @(req.Direction == null ? "" : " | " + req.Direction) @(req.Position == null ? "" : " - " + req.Position)</td>
                                <td>@Html.ActionLink("Разгледай", "")</td>
                            </tr>
                        }

                    </tbody>
                </table> 
            </div>
        </div>
    </div>
}



